<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mingrisoft_3__test_v._0._0._1.Properties.Settings.mingrisoftConnectionString"
            connectionString="Data Source=DESKTOP-9H2IJLA\MSSQLDEVELOP17;Initial Catalog=mingrisoft;User ID=mingrisoft;Password=mingrisoft"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>